# Development files
src/tests/
src/**/*.test.ts
src/**/*.test.js
src/play/
tests/
play/
coverage/
node_modules/
docs/
logs/
.archive/

# Github
.github

# Configuration files
tsconfig.json
jest.config.cjs
.vscode/
typedoc.json

# Environment variable files
.env.*

# TypeScript cache
*.tsbuildinfo

# Miscellaneous
*.log
*.tmp
*.tgz
.pnp.*
.cache
.parcel-cache
.next
.nuxt
out
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
